button{
    background-color: rgba(141, 22, 171, 0.918);
    border-style: none;
    color:bisque;
    border-radius: 5px;
    padding:10px;
    text-align: justify;
    margin:20px;
}
.botonera{
 display: flex;
 justify-content: center;

}
h1{
    text-align: center;
    color:blue;
}